@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');
body {
    margin: 0 auto;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}
.carousel-control.right {
    background-color: #ffffff
.mycarousel {
    background-color: #ffffff
}
}
#home {padding: 0em 1em 0em;
}
.carousel h2 {
    margin: 0;
    color: #555;
    padding-top: 0px;
    font-size: 44px;
    font-family: "trebuchet ms", sans-serif;
    text-shadow: none;
}
.carousel h3 {
    margin: 0;
    color: #555;
    padding-top: 10px;
    font-size: 32px;
    font-family: "trebuchet ms", sans-serif;
    text-shadow: none;
}
.carousel p {
    margin: 0;
    color: #666;
    padding-top: 10px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: none;
}
.item {
    background: #ffffff;
    text-align: center;
    height: 140px !important;
}

.navbar{background-color: #ffffff}

input[type*="text"],
input[type*="email"],
textarea {
    width: 100%;
}
#mycarousel {
    clear:left;
}
.center
{
	float: center;
}
.navbar-nav.navbar-right:last-child {
margin-right: 0;
}

